/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Utility styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    /* background: black; */
    color: ghostwhite;
    background: linear-gradient(326deg, #552a24, #000000, #242655);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Speed up Animate.css animations */
:root {
    --animate-delay: 0.75s;
}